.item {
  margin: 0 10px 40px;
  display: flex;
  justify-content: space-between;
  &__owner-avatar {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin: 0 10px 0 0;
  }
  &__info {
    width: 80%;
    padding: 10px 0;
    border-bottom: 1px solid #475c44;
  }
  &__link {
    margin: 0;
    color: #91bf79;
    font-size: 24px;
    word-wrap: break-word;
    width: 90%;
  }
  &__visibility {
    margin: 5px 0;
    &_type_public {
      background-image: url("../images/icon-visible.svg");
      background-size: cover;
      width: 18px;
      height: 18px;
    }
    &_type_private {
      background-image: url("../images/icon-hidden.svg");
      background-size: cover;
      width: 18px;
      height: 18px;
    }
  }
  &__description {
    color: #91bf79;
    font-size: 18px;
    margin: 0 0 24px;
    word-wrap: break-word;
    width: 90%;
    cursor: default;
  }

  &__update {
    color: #959595;
    font-size: 16px;
    margin: 0 0 5px;
    cursor: default;
  }
  &__create {
    color: #959595;
    font-size: 16px;
    cursor: default;
  }
}

@media screen and (max-width: 900px) {
  .item {
    &__link {
      margin: 0;
      font-size: 18px;
    }
    &__visibility {
      margin: 5px 0;
    }
    &__description {
      font-size: 16px;
      margin: 0 0 24px;
    }
    &__update {
      font-size: 12px;
      margin: 0 0 5px;
    }
    &__create {
      font-size: 12px;
    }
  }
}

@media screen and (max-width: 600px) {
  .item {
    &__owner-avatar {
      width: 52px;
      height: 52px;
    }
    &__link {
      margin: 0;
      font-size: 14px;
    }
    &__visibility {
      margin: 5px 0;
    }
    &__description {
      font-size: 12px;
      margin: 0 0 24px;
    }
    &__update {
      font-size: 10px;
      margin: 0 0 5px;
    }
    &__create {
      font-size: 10px;
    }
  }
}
